<div class="container">
  <form action="#" id="upload" enctype="multipart/form-data">

    <div class="row">
      <div class="col-4">
        <div class="input-group mt-3">
          <input type="text" name="namespace" id="namespace" placeholder="faculty code", required="true">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="input-group mt-3">
          <input class="form-control" type="file" name="doc" id="fileUp">
          <button class="btn btn-primary">Upload</button>
        </div>
      </div>
    </div>

  </form>

  <div class="row">
      <div class="col-4">
        <div class="h5 mt-3">Or</div>
      </div>
      <div class="col-4">
      </div>
      <div class="col-4"></div>
    </div>

  <form action="#" id="urlUpload" enctype="multipart/form-data">

    <div class="row">
      <div class="col-4">
        <div class="input-group mt-3">
          <input type="text" name="namespace" id="namespace" placeholder="faculty code", required="true">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="input-group mt-3">
          <input class="form-control" type="text" name="url", id="url" placeholder="URL">
          <button type="submit" class="btn btn-primary">Upload</button>
        </div>
      </div>
    </div>

  </form>

</div>


<script src="/js/upload.js"></script>